# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib
*.lib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex
txt

# Debug files
*.dSYM/
*.su

.idea/
cmake-build-debug/
.vs/
*.lib
VK/Lib/shaderc_combined.lib
